# Database Configuration
DB_HOST=localhost
DB_PORT=5433
DB_NAME=cpi_analytics
DB_USER=airflow
DB_PASSWORD=airflow

# AWS Configuration
AWS_ACCESS_KEY_ID=replace_me
AWS_SECRET_ACCESS_KEY=replace_me
AWS_REGION=ap-southeast-1
S3_BUCKET_NAME=replace_me

# Project Configuration
PROJECT_NAME=malaysian-cpi-analytics
ENVIRONMENT=development
ENABLE_S3_UPLOAD=false

# Airflow Configuration
AIRFLOW_WEBSERVER_PORT=8082
AIRFLOW_ADMIN_USERNAME=admin
AIRFLOW_ADMIN_PASSWORD=admin
AIRFLOW_ADMIN_EMAIL=admin@example.com
